name: Frontend CI/CD

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

env:
  IMAGE_NAME: wayshub-fe
  IMAGE_TAG: latest
  APP_PORT: 3000

jobs:
  build-push-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Private Registry
      run: |
        echo "${{ secrets.REGISTRY_PASSWORD }}" | docker login ${{ secrets.REGISTRY_URL }} \
          -u "${{ secrets.REGISTRY_USERNAME }}" \
          --password-stdin

    - name: Build Docker image
      run: |
        docker build -t ${{ secrets.REGISTRY_URL }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }} .

    - name: Push Docker image
      run: |
        docker push ${{ secrets.REGISTRY_URL }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}

    - name: Deploy to Server
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SSH_USER }}
        key: ${{ secrets.SSH_KEY }}
        envs: IMAGE_NAME,IMAGE_TAG,APP_PORT
        script: |
          docker login ${{ secrets.REGISTRY_URL }} \
            -u ${{ secrets.REGISTRY_USERNAME }} \
            -p ${{ secrets.REGISTRY_PASSWORD }}

          docker pull ${{ secrets.REGISTRY_URL }}/$IMAGE_NAME:$IMAGE_TAG

          docker stop frontend || true
          docker rm frontend || true

          docker run -d \
            --name frontend \
            -p $APP_PORT:$APP_PORT \
            ${{ secrets.REGISTRY_URL }}/$IMAGE_NAME:$IMAGE_TAG
